@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  background-color: hsl(0, 100%, 74%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#backgroundImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
}

.main-left-box {
  width: 50%;
  height: 100%;
  padding-left: 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-left-box-heading > h1 {
  font-weight: bold;
  line-height: 1.1;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.main-left-box-description > p {
  font-weight: 500;
}

.main-right-box {
  background-color: blue;
  width: 50%;
  height: 100%;
}
